@page
@model MiniAnimeDB.Pages.anime.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Anime</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anime.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anime.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anime.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anime.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anime.Eps)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anime.Eps)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anime.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anime.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anime.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anime.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anime.Group)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anime.Group)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anime.Aired)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anime.Aired)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anime.Ended)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anime.Ended)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Anime.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
