@page
@model MiniAnimeDB.Pages.anime.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Anime</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anime.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anime.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anime.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anime.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anime.Eps)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anime.Eps)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anime.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anime.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anime.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anime.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anime.Group)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anime.Group)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anime.Aired)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anime.Aired)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anime.Ended)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anime.Ended)
        </dd>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Main Staff</th>
                    <th>Position</th>
                </tr>
                @foreach (var item in Model.Anime.Staffs)
                {
                    if (item.Position != "cast")
                    {
                        <tr>
                            <td>
                                @{
                                    var LinkToPerson = "/person/Details?id=" + item.PersonID.ToString();
                                }
                                <a class="col-sm-10" href=@LinkToPerson>
                                    @Html.DisplayFor(modelItem => item.Person.Name)
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Position)
                            </td>
                        </tr>
                    }
                }
            </table>
        </dd>

        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Character</th>
                    <th>Cast by</th>
                </tr>
                @foreach (var item in Model.Anime2.Roles)
                {
                    <tr>
                        <td>

                            @{
                                var LinkToCharacter = "/character/Details?id=" + item.CharacterID.ToString();
                            }

                            <a class="col-sm-10" href=@LinkToCharacter>
                                @Html.DisplayFor(modelItem => item.Character.Name)
                            </a>
                        </td>
                        <td>
                            @{
                                foreach (var vocals in item.Character.Casts)
                                {
                                    var LinkToPersonCast = "/person/Details?id=" + vocals.PersonID.ToString();
                                    <a class="col-sm-10" href=@LinkToPersonCast>
                                        @Html.DisplayFor(modelItem => vocals.Person.Name)
                                    </a>
                                }
                            }
                        </td>
                    </tr>

                }
            </table>
        </dd>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Tags</th>
                    
                </tr>
                <tr>
                    <td>

                        @{
                            foreach (var tgs in Model.Anime3.WithTags) {                               
                                var LinkToTagA = "/tagA/Details?id=" + tgs.TagAID.ToString();
                                <a class="col-sm-10" href=@LinkToTagA>
                                    @Html.DisplayFor(modelItem => tgs.TagA.Tag)
                                </a> 
                            }
                        }


                    </td>
                </tr>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Anime.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
