@page
@model MiniAnimeDB.Pages.character_tag.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CharacterTag</h4>
<hr />
<form method="get">
    <div class="form-actions no-color">
        <p>
            Find CharacterID:
            <input type="text" name="SearchingStringCha" value="@Model.CurrentFilterCha" list="chdl" />
            <datalist id="chdl">
                @if (ViewBag.Chas != null)
                {
                    @foreach (var ch in ViewBag.Chas)
                    {
                        <option value=@ch.Name></option>
                    }
                }
            </datalist>
            <!--<input type="submit" value="Search" class="btn btn-primary" />-->
            The Character ID of @Model.CurrentFilterCha is @Model.ChaPub .
        </p>
        <p>
            Find TagID:
            <input type="text" name="SearchingStringTag" value="@Model.CurrentFilterTag" list="tgdl" />
            <datalist id="tgdl">
                @if (ViewBag.Tags != null)
                {
                    @foreach (var tg in ViewBag.Tags)
                    {
                        <option value=@tg.Tag></option>
                    }
                }
            </datalist>

            The Tag ID of @Model.CurrentFilterTag is @Model.TagPub .
        </p>
        <p>
            <input type="submit" value="Search" class="btn btn-primary" />
        </p>
    </div>
</form>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CharacterTagC.CharacterID" class="control-label"></label>
                <input asp-for="CharacterTagC.CharacterID" class="form-control" />
                <!--
                    <select asp-for="CharacterTagC.CharacterID" class ="form-control" asp-items="ViewBag.CharacterID"></select>
                -->
            </div>
            <div class="form-group">
                <label asp-for="CharacterTagC.TagCID" class="control-label"></label>
                <input asp-for="CharacterTagC.TagCID" class="form-control" />
                <!--
                    <select asp-for="CharacterTagC.TagCID" class="form-control" asp-items="ViewBag.TagCID"></select>
                -->
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
