@page
@model MiniAnimeDB.Pages.tagA.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>AnimeTag</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find Tags:
            <input type="text" name="SearchingString" value="@Model.CurrentFilter" list="tgdl"/>
            <datalist id="tgdl">
                @if (ViewBag.TagAs != null)
                {
                    @foreach (var ta in ViewBag.TagAs)
                    {
                        <option value=@ta.Tag></option>
                    }
                }
            </datalist>
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TagAs[0].Tag)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TagAs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tag)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.TagAID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.TagAID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.TagAID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.TagAs.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.TagAs.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-pageIndex="@(Model.TagAs.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.TagAs.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>