@page
@model MiniAnimeDB.Pages.character.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Sex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Sex)
        </dd>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>In Anime</th>
                </tr>
                @foreach (var item in Model.Character.Roles)
                {
                    <tr>
                        <td>

                            @{
                                var LinkToAnime = "/anime/Details?id=" + item.AnimeID.ToString();
                            }

                            <a class="col-sm-10" href=@LinkToAnime>
                                @Html.DisplayFor(modelItem => item.Anime.Title)
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Dubbed by</th>
                </tr>
                @foreach (var item in Model.Character.Casts)
                {
                    <tr>
                        <td>

                            @{
                                var LinkToPerson = "/person/Details?id=" + item.PersonID.ToString();
                            }

                            <a class="col-sm-10" href=@LinkToPerson>
                                @Html.DisplayFor(modelItem => item.Person.Name)
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>With Tags</th>
                </tr>
                @foreach (var item in Model.Character.WithTags)
                {
                    <tr>
                        <td>

                            @{
                                var LinkToTag = "/tagC/Details?id=" + item.TagCID.ToString();
                            }

                            <a class="col-sm-10" href=@LinkToTag>
                                @Html.DisplayFor(modelItem => item.TagC.Tag)
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Character.CharacterID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
