@page
@model MiniAnimeDB.Pages.person_character.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Casts</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonCharacter[0].Character)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonCharacter[0].Person)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PersonCharacter) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Character.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PersonCharacterID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PersonCharacterID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PersonCharacterID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
